<div class="row">
    <h2>Posts</h2>
</div>
<div class="list-group">
    {{#each posts }}
        <a href="/posts/{{ this._id }}" class="list-group-item">
            {{ this.title }}
        </a>
    {{/each}}
</div>
