<div>
    <h2>Login</h2>
    <hr>
    <form action="login" method="post">
        <input type="text" placeholder="email" name="email">
        <input type="password" placeholder="password" name="password">
        <input type="submit" value="login">
    </form>
    <span>Don't have an account? <a href="signup">signup</a></span>
</div>