<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>{{ post.title }}</h1>
        <p>{{ post.body }}</p>
        <p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Edit</a>
        </p>
    </div>
</div>
