<div>
    <h2>Sign Up</h2>
    <hr>
    <form action="signup">
        <input type="text" placeholder="email">
        <input type="password" placeholder="password">
        <input type="password" placeholder="confirm password">
        <input type="submit" value="signup">
    </form>
    <span>Already have an account? <a href="login">login</a></span>
</div>