<div>
    <h2>Sign Up</h2>
    <hr>
    <form action="signup" method="post">
        <input type="text" placeholder="email" name="email">
        <input type="password" placeholder="password" name="password">
        <input type="password" placeholder="confirm password" name="confirmPassword">
        <input type="submit" value="signup">
    </form>
    <span>Already have an account? <a href="login">login</a></span>
</div>